/*
* @Author: name
* @Date:   2018-10-30 18:44:49
* @Last Modified by:   name
* @Last Modified time: 2018-10-30 21:13:42
*/

body {
    background: url(bg.jpg);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

.w {
    width: 70%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
