/*
* @Author: name
* @Date:   2018-10-30 18:44:42
* @Last Modified by:   name
* @Last Modified time: 2018-10-30 23:36:28
*/

/* exe */

.exe {
    margin-top: 10px;
}

.exe li {
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    float: left;
    margin: 18px;
    text-align: center;
    // border-bottom: 1px solid #fff;
}

.exe li a {
    color: rgb(255,255,255,.8);
    display: block;
    position: relative;
    transition: all .2s linear;
}

.exe li a:hover {
    color: rgb(255,255,0,.9);
    // background-color: rgba(255,255,255,.2);
    border-radius: 16px;
}
